.cdk-drag-placeholder {
  opacity: 0.2;
  width: 350px;
}

.cdk-drag-animating,
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.new-btn:hover {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 0 #171717;
}
