<div class="w-full h-screen flex justify-center flex-col">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="w-64 mx-auto">
    <div class="w-full py-1">
      <label for="email" class="text-lg font-normal text-slate-500"
        >Email</label
      >
      <input
        type="text"
        id="email"
        required
        placeholder="johndoe@mail.com"
        formControlName="email"
        name="email"
        class="w-full mt-1 h-12 px-2 border-[2.3px] border-slate-500 text-slate-500"
      />
    </div>

    <div class="w-full py-1">
      <label for="password" class="text-lg font-normal text-slate-500"
        >Password</label
      >

      <input
        type="password"
        id="password"
        name="password"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
        class="w-full mt-1 h-12 px-2 border-[2.3px] border-slate-500 text-slate-500"
        formControlName="password"
        required
      />
    </div>

    <button
      type="submit"
      class="w-64 py-2 mt-5 font-normal border-[2.3px] text-cyan-600 border-cyan-600 transition-all"
    >
      Sign in
    </button>
  </form>

  <button
    class="w-64 mx-auto py-2.5 my-6 text-white transition-all auth-btn bg-cyan-600 button"
    (click)="auth.googleSignin()"
  >
    <i class="my-2 fa-brands fa-google fa-lg"></i>
    <span> Login with Google</span>
  </button>

  <p class="text-center w-60 mx-auto mt-2 text-slate-500">
    Don't have an account?
    <a routerLink="/sign-up" class="text-cyan-600 underline">Sign up</a>
  </p>
</div>
